/* body {
    height: 100vh;
    background: rgb(15,100,99);
    background: linear-gradient(0deg, rgba(15,100,99,1) 17%, rgba(71,188,24,1) 100%);
}

.btn-outline-secondary {
    color: #fff;
}

.btn-outline-secondary:hover {
    background-color: green;
} */